.h1-center {
  text-align: center;
  margin-bottom: 2rem;
}

.container img {
  transition: transform 0.3s ease;
}

.container img:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .img-fluid {
    height: 8rem;
    object-fit: cover;
  }
}
