/* Navigation Bar Css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: poppins;
  background-color: F8FAE5;
  margin: 0;
  padding: 0;
  text-align: justify;
}

.navbar {
  display: flex;
  font-weight: 300;

  flex-wrap: wrap;
  /* align-items:center; */
  justify-content: space-between;

  min-height: 3rem;

  width: 100%;

  padding-top: 0;

  margin-top: 1.4rem !important;
  margin: 1px;
  padding: 6px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, opacity 0.3s ease;

  /* top: 0;
  z-index: 1000;
  position: fixed; */
}

.navbar-scrolled {
  background-color: rgba(249, 249, 249, 0.8);
  transition: background-color 0.3s ease;
  opacity: 0.6;
}

.nav-space {
  margin-top: 0.1rem;
}

.nav-ul {
  display: flex;
}

ul li.nav-li {
  list-style: none;
}

ul li.nav-li a.nav-a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  padding: 0;
}

ul li.nav-li a.nav-a:hover {
  color: #60bf1f;
}

.navbar .nav-links {
  display: flex;
  gap: 2rem;
  padding-top: 1rem;
}

.nav-logo {
  width: 17rem;
  height: 4rem;

  background-image: url("../img/logo-3.png");
  background-size: cover;
  background-position: center;
}

.container-fluid {
  transition: padding-top 0.3s;
}

.navbar-collapse {
  display: none;
  /* gg */
  margin-bottom: 70px;
}

.navbar-expand-lg .navbar-collapse.show {
  margin-bottom: 2rem;
}
.navbar-toggler[aria-expanded="true"] + .navbar-collapse {
  display: block;
}

.navbar-toggler[aria-expanded="true"] + .navbar-collapse + * {
  /* padding-top: rem; */
}

/* .navbar-expand-lg .navbar-collapse.show + * {
  padding-top: 3.5rem;
} */

/*  "navbar-detail CSS*/

.navbar-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 94%;
  color: #000000;
  margin-top: 0.2rem auto;
  padding: 5px;
}

.nav-right {
  display: flex;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  margin-left: auto;
}

.right img {
  vertical-align: middle;
}

.nav-address {
  font-size: 12px;
  font-weight: bold;
}

.call-img {
  height: 1.5rem;
}

/* Media Query  */
@media (max-width: 767px) {
  .nav-logo {
    width: 12rem;
  }
  .nav-address {
    font-size: 8.5px;
    margin: 0;
    padding-left: 10px;
  }

  .nav-right {
    font-size: 9px;
    align-items: center;
  }

  .navbar-detail {
    width: 93.5%;
  }

  .navbar {
    margin: 0;
  }

  ul li.nav-li a.nav-a {
    font-size: 10px;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar-nav .nav-item {
    width: 100%;
    text-align: center;
  }

  .navbar .nav-links {
    padding-top: 0;
  }
}
