#Services {
  display: grid;
  grid-template-columns: 2 1fr;
}

.card-i {
  border-radius: 17px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-none {
  border: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
}
.card-body {
  padding: 0.5rem;
}
.card-link {
  color: white;
  text-decoration: none;
}

.ab {
  display: flex;
  align-items: revert;
  align-content: flex-end;
  justify-content: end;

  gap: 1rem;
}

.button-serv {
  font-size: 1rem;
  padding: 3px;
  background-color: #60bf1f;
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;
  color: white;
}

.button-serv:hover {
  transform: scale(1);
  background-color: #71c737;
}
