#Services {
  display: grid;
  grid-template-columns: 2 1fr;
}

.card-i {
  border-radius: 17px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-none {
  border: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
}
.card-body {
  padding: 0.5rem;
}
.card-link {
  color: white;
  text-decoration: none;
}

.ab {
  display: flex;
  align-items: revert;
  align-content: flex-end;
  justify-content: end;

  gap: 1rem;
}

.button-serv {
  font-size: 1rem;
  padding: 3px;
  background-color: #60bf1f;
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;
  color: white;
}

.button-serv:hover {
  transform: scale(1);
  background-color: #71c737;
}

@media (max-width: 767px) {
  .card-none {
    margin-top: 4rem;
  }

  div.card-body h5.card-title {
    font-size: 14px;
    text-align: left;
  }

  div.card-body p.card-text {
    font-size: 11px;
  }

  .form-select {
    font-size: 12px; /* Adjust the font size as needed */
    line-height: 1.5; /* Adjust the line height as needed */
  }

  /* Optional: Adjust styling for the selected option */
  .form-select option:checked {
    background-color: #e8e8e8; /* Change the background color as needed */
  }

  button.button-serv {
    padding: 0;
  }
  .card-1 {
    margin-top: 1rem;
  }

  /* div.card-body select#min {
    height: 1rem;
  } */
}
